<html>

<head>
	<title>Template 1</title>
</head>


<body>

<div id="container" class="container autosize nice">

	<h1>[[variable]]</h1>
	<h2>B</h2>
	<h3>C</h3>
	<ul>
		<li>{{list}}</li>
	</ul>
</div>

<div id="container2" class="container autosize">
	<ul>
		<for condition="i=1; i less testelements_sz; i++">
			<li if="i greater 2 && testelements[i] == display">{{testelements[i]}}</li>
		</for>
	</ul>
</div>

<div id="container3" class="container autosize">
	<ul>
		<for condition="i=testelements_sz; i greater= 0; i--">
			<li if="i greater 2 && testelements[i] == display">{{testelements[i]}}</li>
		</for>
	</ul>
</div>

</body>



</html>


